<section id="about" class="about-section section">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <div class="about-content">
      <div class="about-text">
        <p>I'm an aspiring Software Engineer with a strong academic foundation and hands-on training based in Cairo,
          Egypt. Driven by curiosity for building impactful softwares, I bring adaptability, dedication, and a
          collaborative spirit to every project. I strive to build immersive and beautiful web applications through
          carefully crafted code and user-centric design.</p>

        <div class="education">
          <h3>Education</h3>
          <p>Graduated from AASTMT, Cairo with 3.5 GPA with honors</p>
        </div>

        <div class="experience">
          <h3>Experience</h3>
          <p>Currently a trainee at ITI on full-stack web development</p>
        </div>

        <div class="about-cta">
          <a href="https://drive.google.com/file/d/1k02irTGPLIScTjgBiXRb-SHILtbj53vg/view?usp=drive_link" target="_blank" class="btn download-cv">Download CV</a>
        </div>
      </div>
      <div class="about-image">
        <div class="image-container">
          <img
            src="https://res.cloudinary.com/dzf6sbs86/image/upload/v1748746255/Blue_and_White_Modern_Personal_Logo_iqdv2h.svg"
            alt="Personal Logo" />
        </div>
      </div>
    </div>
  </div>
</section>